<!DOCTYPE html>
<html lang="en">
<head>
	<title>BROWSE</title>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">		
	<!-- <link rel="stylesheet" href="BrowseSongscss.css"> -->
	
	<link rel="stylesheet" href="sidebarcss.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        h3{
            color:  #0c5a41;
            font-family: Franklin Gothic Medium;
        }
    </style>
</head>

<body>
    <div id="viewscreen">
        <% include partials/sidebar %>
        <div id="rightview">
            
            <div class="container">
                <h3>ROMANTIC</h3>
                <div id="romantic">
                    
                </div>

                <h3>POP</h3>
                <div id="pop">
                    
                </div>
                <h3>RELAXING</h3>
                <div id="relaxing">
                    
                </div>
            </div>
    
        </div>
    </div>
</body>
<script src="sidebarjs.js" type="text/javascript"></script>
<script src="BrowseSongsjs.js" type="text/javascript"></script>
</html>